* {
    margin:0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(231, 214, 61);
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(45, 40, 49);
}
nav ul {
    display: flex;
    width: 40%;
    padding: 5px 5px;;
    list-style: none;
    justify-content: space-between;
    
}

nav .logo {
    font-family: 'Pacifico', cursive;
    font-size: medium;
}

nav ul li a {
    color: rgb(47, 45, 49);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
nav ul li a:hover {
    color: rgb(115, 100, 122);
}

 /* hamburger menu */
 .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}
.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    z-index: 2;
    left : -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;

}
.menu-toggle span {
    display: block;
    width: 28px;
    height:3px;
    background-color: cornsilk;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger menu anmtion */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:last-child {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
   transform: rotate(45deg) translate(-1px, -1px);
   background-color: rgb(248, 242, 244);
}

.menu-toggle input:checked ~ span:last-child {
    transform: rotate(-45deg)  translate(-1px, 0);
    background-color: rgb(248, 242, 244);
 }

 .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
 }

/* responsif tablet */
@media  screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* responsif mobile */
@media  screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background-color:rgb(231, 214, 61);
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        
    }

    nav ul.slide {
       opacity: 1;
        transform: translateX(0);
    }

   
}
